---
name: "Gateway OS"
description: "Vibrant Gateway Operating System"
version: "latest"
slug: "gatewayos"
init: false
host_network: true
homeassistant_api: true
hassio_api: true
arch:
  - aarch64
image: harbor-dev.vibrantbt.net/gateway/gateway-os
ports:
  "8055/tcp": 8055
ports_description:
  "8055/tcp": "Vibrant API HTTP"
